<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Angel Prieto</h1>
        <h3>Engineering and Computer Science Graduate</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/angel-prieto-pa/" target="_blank">
            <img src="/assets/linkedin.png" width="24" height="24" class="rounded-cirlce me-2">
        </a>

        <a href="https://github.com/angel-prieto-pa" target="_blank" class="">
            <img src="/assets/github.png" width="24" height="24" class="rounded-cirlce me-2">
        </a>
    </div>
</div>
