<div class="modal-header">
    <h2>{{project.info.title}}</h2>
    <button class="btn-close" (click)="bsModalRef.hide()"></button>
</div>


<div class="modal-body mx-2">

    <!-- Description -->
    <h3 class="mb-4">Description</h3>
    <p>{{project.info.description}}</p>

    <!-- Key Features -->
    <h3 class="my-4">Key Features</h3>

    <div *ngFor="let feature of project.info.features.headings let i = index">
        <ul>
            <!-- Multiple Features -->
            <div *ngIf="isArray(project.info.features.descriptions[i])">
                <li><b>{{feature}}: </b></li>
                <ul>
                    <li *ngFor="let description of toStringArray(project.info.features.descriptions[i])">{{description}}</li>
                </ul>
            </div>

            <!-- Single Feature -->
            <div *ngIf="isString(project.info.features.descriptions[i])">
                <li><b>{{feature}}: </b>{{project.info.features.descriptions[i]}}</li>
            </div>
        </ul>

    </div>

    <!-- Technical Highlights -->
    <h3 class="my-4">Technical Highlights</h3>
    <div *ngFor="let highlight of project.info.highlights.headings; let i = index">
        <ul>
            <div *ngIf="isString(project.info.highlights.descriptions[i])">
                <li><b>{{highlight}}: </b>{{project.info.highlights.descriptions[i]}}</li>
            </div>
        </ul>
    </div>

    <!-- Images -->
    <h3 class="my-4">Images</h3>

    @let indexList = project.info.images.indexes;
    <div *ngFor="let indexSet of indexList; let i = index">
        @let start = indexSet[0]; @let end = indexSet[1];
        @let imageList = this.projectService.createImageList('minesweeper', start, end);

        <div class="row" style="margin-left: auto; margin-right: auto;">

            <!-- Seperator Between Carousels -->
            <div *ngIf="i != 0">
                <hr class="mt-3" style="width: 85%; margin-left: auto; margin-right: auto;">
            </div>
            
            <!-- Carousel -->
            <carousel [isAnimated]="true" style="width: 45%;">
                <div *ngFor="let picture of imageList">
                    <slide><img src={{picture}} alt="slide" style="display: block; width: 75%; margin-left: auto; margin-right: auto;"></slide>
                </div>
            </carousel>

            <!-- Carousel Description -->
            <p style="width: 45%; margin-top: auto; margin-bottom: auto;"><i>{{project.info.images.descriptions[i]}}</i></p>
        </div>

    </div>
    
    <!-- Link -->
    <h3 class="my-4">Link</h3>
    <p class="my-4">Access this project on GitHub: <a href={{project.info.link}} target="_blank">here</a></p>

    <hr>
    <div class="d-flex flex-wrap">
        <div *ngFor="let tag of project.tags">
            <div class="tag me-2 mb-1" [style.background-color]="tag.color">{{tag}}</div>
        </div>
    </div>
</div>