<div class="container text-center">
    <button class="btn btn-primary shadow border" (click)="DownloadFile()">Download PDF Résumé</button>
    <div class="pb-2">
        <accordion class="shadow" [isAnimated]="true">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Work Experience</div>
                    
                    <div style="width: 10.95px;">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white;">v</div>
                    </div>
                </button>

                <div class="accordion-inner">
                    <div style="text-align: left;">
                        <h2 class="mb-0">Memory Operations Amplification Teaching Tool (MOAT)</h2>
                        <h3 class="text-primary"><i>Full Stack Mobile Application Developer, iOS Team</i></h3>
                        <ul>
                            <li>Contributed to project development by researching iOS application best practices, collaborating with senior software engineers, and working closely with peers to enhance application efficiency, compatibility, and feature set.</li>
                            <li>Led front-end development of mobile application interfaces, including navigation, account settings, and game flow (initiation and conclusion), based on designs from Figma.</li>
                            <li>Leveraged object-oriented design principles (modularity, reusability, extensibility) with Model-View-ViewModel (MVVM) architecture to future-proof code, simplify page development,</li>
                            <li>Assisted in back-end development with Realtime Database, supporting user data storage, game lobby creation, and cross-device functionality across various operating systems.</li>
                            <li>Managed version control using Git and collaborated with a team of three to merge code and integrate the iOS application on GitHub.</li>
                        </ul>
                        <hr />
                    </div>
                
                    <div class="accordion-text" style="text-align: left;">
                        <h2 class="mb-0">Berkeley High School</h2>
                        <h3 class="text-primary">Apprentice Math Teacher</h3>
                        <ul>
                            <li>Led a ninth-grade math class, where I created, implemented, and delivered engaging lesson plans aligned with curriculum objectives, while adapting content to meet students' skill levels and fostering a supportive learning environment.</li>
                            <li>Assessed student progress and adjusted instructional approaches based on individual and class-wide needs, supporting overall academic growth.</li>
                            <li>Collaborated with the school’s Math Department Lead to support students with IEPs, tailoring lesson plans and instructional strategies to meet individual learning needs and ensure inclusivity in the classroom.</li>
                        </ul>
                    </div>
                </div>
            
            </accordion-group>
    
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Education</div>
                    
                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white;">></div>
                        <div *ngIf="isEducationOpen" style="color: white;">v</div>
                    </div>
                </button>

                <div class="accordion-inner">
                    <div style="text-align: left;">
                        <h2 class="mb-0">University of California, Berkeley</h2>
                        <h3 class="text-primary"><i>Bachelor of Science in Electrical Engineering and Computer Science</i></h3>
                        <h5><i>Notable Awards: </i><a href="https://financialaid.berkeley.edu/types-of-aid-at-berkeley/scholarships/regents-and-chancellors-scholarship/">Regents’ and Chancellor’s Scholarship</a>, <a href="https://www2.eecs.berkeley.edu/Students/Awards/7/">Art and Mary Fong Undergraduate Scholarship</a></h5>
                        <h5>Relevant Coursework</h5>
                        <ul>
                            <li>The Structure and Interpretation of Computer Programs</li>
                            <li>Data Structures</li>
                            <li>Great Ideas of Computer Architecture / Machine Structures</li>
                            <li>Efficient Algorithms and Intractable Problems</li>
                            <li>Introduction to Database Systems</li>
                            <li>Introduction to Artificial Intelligence</li>
                        </ul>
                        <h3 class="text-primary"><i>Minor in CalTeach Science and Math Education</i></h3>
                    </div>
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Skills</div>
                    
                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillsOpen" style="color: white;">></div>
                        <div *ngIf="isSkillsOpen" style="color: white;">v</div>
                    </div>
                </button>

                <div class="row accordion-inner" style="text-align: left;">
                    <div class="col">
                        <h3>Languages:</h3>
                        <ul>
                            <li>Swift</li>
                            <li>Python</li>
                            <li>Javascript</li>
                            <li>HTML/CSS</li>
                            <li>Typescript</li>
                            <li>SQL</li>
                            <li>Java</li>
                            <li>C</li>
                        </ul>
                    </div>
                        
                    <div class="col">
                        <h3>Frameworks:</h3>
                        <ul>
                            <li>UIKit</li>
                            <li>Angular</li>
                            <li>Bootstrap</li>
                        </ul>
                    </div>

                    <div class="col">
                        <h3>Libraries:</h3>
                        <ul>
                            <li>Firebase</li>
                            <li>GoogleMobileAds</li>
                            <li>PyTorch</li>
                            <li>Matplotlib</li>
                        </ul>
                    </div>
                        
                    <!-- <div class="col"> -->
                        <!-- <h3>Other Skills:</h3>
                        <ul>
                            <li>Source Control via Git</li>
                            <li>MVC Architecture</li>
                            <li>Agile Development</li>
                        </ul> -->
                    <!-- </div> -->
                </div>
            </accordion-group>
        </accordion>
    </div>
    
</div>
