<div class = "container mt-3 mb-3">
    <div class = "row">
        <!--About Me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2 class="text-about"><u>About Me</u></h2>
                <img src = "assets/img/profile.png" alt = "Profile Picture" width = "256" height = "296" class = "rounded-circle image-about">
                <h4 class="text-about">Career Objective</h4>
                <p class="text-about">I am an Electrical Engineering and Computer Science graduate with a strong foundation in software development, programming, and analytical problem-solving. I am seeking a software engineering role that challenges me to apply and build upon my technical skills while collaborating on impactful projects. My goal is to contribute effectively to a results-driven team, delivering solutions that are both innovative and efficient. I'm eager to bring my dedication and enthusiasm for technology to an environment where I can grow and make meaningful contributions.</p>
            </div>
        </div>

        <!--Featured Project-->
        <div class = "col-lg shadow border m-1">
            <div class = "text-center">
                <h2><u>Featured Project</u></h2>
                <h4 class="title-featured"><i>{{featuredProject.name}}</i></h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide class="image-featured"><img src={{picture}} alt="slide" style="display: block; width: 75%; margin-left: auto; margin-right: auto;"></slide>
                </div>
            </carousel>

            <p class="mt-2 text-center" style="margin-left: 20px; margin-right: 20px;">{{featuredProject.summary}}</p>
            <p class="text-center"><i>Learn more in the <a routerLink = "/portfolio">portfolio</a> section.</i></p>
        </div>
    </div>
</div>
